<h1>Job Summary</h1>

<table class="table table-hover table-condensed datatable-job-summary", data-source="<%= launched_jobs_path(format: :json) %>">
  <thead>
    <tr>
      <th>Client</th>
      <th>Job Spec</th>
      <th>Job Template Type</th>
      <th>Start time</th>
      <th>Run time</th>
      <th>Status</th>
      <th>log</th>
    </tr>
  </thead>

  <tbody>
  </tbody>

  <tfoot>
    <tr>
      <th>Client</th>
      <th>Job Spec</th>
      <th>Job Template Type</th>
      <th>Start time</th>
      <th>Run time</th>
      <th>Status</th>
      <th>log</th>
    </tr>
  </tfoot>

</table>

