<h1>Listing tpl_dev_tests</h1>

<table>
  <thead>
    <tr>
      <th>Argument</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tpl_dev_tests.each do |tpl_dev_test| %>
      <tr>
        <td><%= tpl_dev_test.argument %></td>
        <td><%= link_to 'Show', tpl_dev_test %></td>
        <td><%= link_to 'Edit', edit_tpl_dev_test_path(tpl_dev_test) %></td>
        <td><%#= link_to 'Destroy', tpl_dev_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Tpl dev test', new_tpl_dev_test_path %>
