<p id="notice"><%= notice %></p>

<p>
  <strong>Argument:</strong>
  <%= @tpl_dev_test.argument %>
</p>

<%= link_to 'Edit', edit_tpl_dev_test_path(@tpl_dev_test) %> |
<%= link_to 'Back', tpl_dev_tests_path %>
