<% provide(:title, 'Birst Process Groups') %>

<table class="table datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @birst_process_groups.each do |birst_process_group| %>
      <tr>
        <td><%= birst_process_group.name %></td>
        <td><%= birst_process_group.description %></td>
        <td class="text-right"> <%= render partial: "shared/row_functions", locals: { obj: birst_process_group } %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </tfoot>

</table>

<br>

<%= link_to 'New Birst process group', new_birst_process_group_path, { class: "btn btn-default" } %>
