<% JobSpec::JOB_TEMPLATE_TYPES.each do |job_template_type| %>
  <div class="job_template_form panel panel-primary" id="<%= job_template_type %>" style="display: none;">
    <div class="panel-heading"><%= job_template_type %></div>
    <div class="panel-body">
      <%= render partial: job_template_type.underscore, locals: { f: f }%>
    </div>
  </div>
<% end %>
