<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Amylase Job Failed</h1>
    <p>
        Please check log: <br>
        <%= @log_path %><br>
    </p>
  </body>
</html>