<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job_schedule_group.name %>
</p>

<%= link_to 'Edit', edit_job_schedule_group_path(@job_schedule_group) %> |
<%= link_to 'Back', job_schedule_groups_path %>
