<%= simple_form_for(@job_scheduler, url: job_scheduler_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :timeout %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
